:root {
    --title-color: black;
    --text-color: black;
    --link-color: rgb(0, 67, 70);
    --transition-time: 0.4s;
}

/* desktop */
.project-box,
.project-box-mobile {
    background-color: #ecf5ce9a;
    margin: 10px 5px;
    padding: 13px 10px;
    border-radius: 10px;
    min-height: 193px;
    min-width: 220px;
    max-width: 420px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    transition: all ease-out calc(var(--transition-time) * 2)
}

.project-box-mobile {
    background-color: rgb(255, 255, 255, 0.8);
}

.project-box h4,
.project-box-mobile h4 {
    font-size: larger;
    color: var(--title-color);
}

.project-box h4 {
    transform: translateY(120%);
    transition: all ease calc(var(--transition-time) * 2)
}

.project-box hr {
    color: transparent;
    transition: all ease var(--transition-time);
}

.project-box p,
.project-box-mobile p{
    padding: 0px 10px;
    text-align: justify;
    color: var(--text-color);
}

.project-box p,
.project-box a {
    font-size: calc(12px + 0.2vw);
    color: transparent;
    transition: all ease var(--transition-time);
}
.project-box a {
    border-bottom: 0px dotted transparent;
}

.project-box p span {
    border-bottom: 1px dashed transparent;
    transition: border ease var(--transition-time);
}

.project-box span {
    border-bottom: 1px dashed var(--title-color);
    cursor: help;
}

.project-box button,
.project-box-mobile button {
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
    font-size: calc(14px + 0.2vw);
    border-radius: 15px;
    min-width: 90%;
    transition: all ease calc(var(--transition-time) / 2);
}

.project-box button {
    color: var(--text-color);
    background-color: rgba(0, 0, 0, 0);
}

.project-box:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    transform: scale(1.01);
    transition: all ease var(--transition-time);
}

.project-box:hover h4 {
    transform: translateY(0%);
    transition: all ease var(--transition-time);
}

.project-box:hover hr {
    color: var(--text-color);
    transition: all ease var(--transition-time);
}

.project-box:hover p,
.project-box:hover a {
    color: var(--text-color);
    transition: all ease calc(var(--transition-time) * 2)
}
.project-box:hover a:hover {
    color: var(--link-color);
    /* border-bottom-color: var(--text-color); */
    transition: all ease calc(var(--transition-time))
}

.project-box:hover p span {
    border-bottom-color: var(--text-color);
    transition: border-bottom ease var(--transition-time) calc(var(--transition-time) / 2);
}

.project-box:hover button {
    color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: rgba(0, 0, 0, 0.7);
    transition: all ease var(--transition-time);
}

.project-box:hover button:hover,
.project-box-mobile button:hover {
    background-color: rgba(0, 0, 0, 1);
    transition: all ease var(--transition-time);
}