/* fonts: Cookie - Poppins - Dancing Script */
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Dancing+Script&family=Poppins&display=swap');
@import url('../CSS/loading.css');
@import url('../CSS/progressBar.css');
@import url('../CSS/socialMedia.css');
@import url('../CSS/projects.css');

:root {
    --logo-margin: 12rem;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.5);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 0px) {

    /*990*/
    /* main */
    .slide-section:nth-child(1) {
        background-color: #ffffff;
        background-image: linear-gradient(to top, #ead6bd, #eed2ca, #e7d3d6, #dcd5da, #d6d6d6);
    }

    /*skills*/
    .slide-section:nth-child(2) {
        background-color: #ead6bd;
        background-image: linear-gradient(to bottom, #ead6bd, #decfb5, #d2c9ad, #c5c2a6, #b9bba0);
        overflow-y: auto;
    }

    /* education */
    /* .slide-section:nth-child(3) {
        background-color: #95b0b0;
        background-image: linear-gradient(to left bottom, #95b0b0, #96afb6, #99aeba, #a0acbc, #a8aabc);
    } */

    /* projects */
    .slide-section:nth-child(3) {
        background-color: #b9bba0;
        background-image: linear-gradient(to top, #89a08c, #95a790, #a1ae95, #adb49a, #b9bba0);
        overflow-y: auto;
    }

    /* interests */
    .slide-section:nth-child(4) {
        background-color: #89a08c;
        background-image: linear-gradient(to bottom, #89a08c, #7e9988, #749284, #698b81, #60847d);
    }

    /* contact */
    .slide-section:last-child {
        background-color: #60847d;
        background-image: linear-gradient(to top, #41666d, #486e71, #4f7575, #577d79, #60847d);
    }
}

@media only screen and (max-width: 1600px) {
    :root {
        --logo-margin: 2rem;
    }
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    justify-content: center;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d6d6d6;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav div ul li {
    border: none;
}

nav div ul li a {
    font-size: calc(7px + 0.4vw);
    text-transform: uppercase;
    font-weight: bold;
    color: #585b5b;
    letter-spacing: 2px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border-radius: 10px;
    transition: all ease 0.8s !important;
}

nav div ul li a.active,
nav div ul li a:hover {
    background-color: #ffffff;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
        rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    transition: all ease 0.2s !important;
}

section {
    padding: 5vh;
    transition: all ease 1s;
    align-items: center;
}

/*id*/
#header,
#header.add-shadow {
    transition-property: all;
    transition-duration: 0.5s;
}

#nav-ul {
    display: contents;
}

/*class*/
.blur-bg {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
}

.invert-color {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.logo {
    margin-left: var(--logo-margin);
    margin-right: calc(var(--logo-margin) * -1);
    width: 10vw;
    max-width: 125px;
    z-index: 5;
}

.profile-pic {
    transform: translateY(30%);
    width: calc(100px + 10vw + 10vh);
    max-width: 500px;
}

.profile-pic[type="jpg"] {
    border-radius: 45%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 30px 90px;
}

.profile-pic[type="png"] {
    -webkit-filter: drop-shadow(0px 30px 90px rgba(0, 0, 0, 0.9));
    filter: drop-shadow(0px 30px 90px rgba(0, 0, 0, 0.9));
}

.main-text {
    transform: translateY(80%);
    width: calc(20vw + 20vh);
    max-width: 500px;
}

.main-text h1 {
    font-size: calc(14px + 3vw);
    color: #1c3548;
}

.main-text p {
    color: #000000;
}

.main-text b {
    font-family: "Dancing Script",
        cursive;
}

.cursive-font {
    font-family: 'Cookie',
        cursive;
}

.title {
    font-size: 3rem;
    text-align: center !important;
    margin-top: 0%;
    margin-bottom: 50px;
    backdrop-filter: blur(10px);
    border-radius: 25% 25% 0% 0%;
    background: inherit;
    position: sticky;
    top: 0;
    z-index: 999;
}

.add-shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
}

@media only screen and (max-width: 990px) {

    /*phone*/
    ::-webkit-scrollbar {
        width: 20px;
    }

    [class*="fp-"],
    [class*="section"],
    section {
        height: auto !important;
    }

    .main-text {
        transform: translateY(50%);
    }

    .profile-pic {
        transform: translateY(10%);
    }

    .progress {
        width: auto;
    }

    .title {
        backdrop-filter: blur(0px);
        position: relative;
        margin-top: 100px;
    }

    .slide-section:nth-child(1) {
        min-height: 80vh !important;
    }

    .slide-section:last-child {
        min-height: 100vh !important;
    }

    .logo {
        display: none;
    }
}

@media only screen and (orientation:landscape) and (max-height: 560px) {

    /*landscape phone*/
    ::-webkit-scrollbar {
        width: 20px;
    }

    [class*="fp-"],
    [class*="section"],
    section {
        height: auto !important;
    }

    .main-text {
        transform: translateY(0%);
    }

    .profile-pic {
        transform: translateY(0%);
    }

    .progress {
        width: auto;
    }

    .title {
        backdrop-filter: blur(0px);
        position: relative;
        margin-top: 100px;
    }

    .slide-section:nth-child(1) {
        min-height: 100vh !important;
    }

    .slide-section:last-child {
        min-height: 100vh !important;
        padding-bottom: auto !important;
    }

    .logo {
        display: block;
    }
}