@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins|Ubuntu&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css');
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url('../CSS/loading.css');
@import url('../CSS/progressBar.css');
@import url('../CSS/socialMedia.css');

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 990px) {
    :root {
        --logo-margin: 12rem;
    }

    /* main */
    /* .slide-section:nth-child(1) {
        background-image: url("../Images/bg.jpg");
    } */

    /*skills*/
    .slide-section:nth-child(2) {
        background-color: #9ae7e7;
        background-image: linear-gradient(to right top, #9ae7e7, #81d0cc, #69bab1, #52a497, #3c8e7d);
        overflow-y: scroll;
    }

    /* education */
    /* .slide-section:nth-child(3) {
        background-color: #95b0b0;
        background-image: linear-gradient(to left bottom, #95b0b0, #96afb6, #99aeba, #a0acbc, #a8aabc);
    } */

    /* projects */
    .slide-section:nth-child(3) {
        background-color: #95f7b2;
        background-image: linear-gradient(to left bottom, #95f7b2, #79da97, #5dbe7d, #40a363, #1f884b);
    }

    /* interests */
    .slide-section:nth-child(4) {
        background-color: #fcfcd4;
        background-image: linear-gradient(to top, #fcfcd4, #eefcdd, #e6fbe7, #e3f8ee, #e6f4f1);
    }

    /* contact */
    .slide-section:nth-child(5) {
        background-color: #00adb5;
        background-image: linear-gradient(to top, #00adb5, #62bfc0, #93d1cd, #bee3de, #e6f4f1);
    }
}

@media only screen and (max-width: 1600px) {
    :root {
        --logo-margin: 2rem;
    }
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
    justify-content: center;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #82968b;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

nav div ul li {
    border: none;
}

nav div ul li a {
    font-size: calc(7px + 0.4vw);
    text-transform: uppercase;
    font-weight: bold;
    color: #585b5b;
    letter-spacing: 2px;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border-radius: 10%;
    transition: all ease-in-out 0.2s;
}

nav div ul li a.active {
    background-color: #f3e7da;
    box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.3);
    transition: all ease 0.2s;
}

section {
    padding: 5vh;
    transition: all ease 1s;
    align-items: center;
}

/*id*/
#header,
#header.add-shadow {
    transition-property: all;
    transition-duration: 0.5s;
}

#nav-ul {
    display: contents;
}

/*class*/
.nav-link:hover {
    background-color: #f3e7da;
    transition: all ease-in-out 0.2s;
}

.blur-bg {
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.4);
}

.logo {
    margin-left: var(--logo-margin);
    margin-right: calc(var(--logo-margin) * -1.5);
    width: 10vw;
    max-width: 125px;
    z-index: 5;
}

.profile-pic {
    transform: translateY(40%);
    width: calc(80px + 15vw + 15vh);
    max-width: 400px;
    border-radius: 45%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 30px 90px;
}

.main-text {
    transform: translateY(80%);
    width: calc(20vw + 20vh);
    max-width: 500px;
}

.main-text h1 {
    font-size: calc(14px + 3vw);
    color: #1c3548;
}

.main-text p {
    color: #cccccc;
}

.cursive-font {
    font-family: "Dancing Script",
        cursive;
}

.title {
    text-align: center !important;
    margin-top: 0%;
    margin-bottom: 50px;
    backdrop-filter: blur(10px);
    border-radius: 25% 25% 0% 0%;
    background: inherit;
    position: sticky;
    top: 0;
    z-index: 999;
}

.add-shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.1) 0px 4px 6px -2px;
}

@media only screen and (max-width: 990px) {

    /*phone*/
    ::-webkit-scrollbar {
        width: 20px;
    }

    [class*="fp-"],
    [class*="section"],
    section {
        height: auto !important;
    }

    .main-text {
        transform: translateY(50%);
    }

    .profile-pic {
        transform: translateY(10%);
    }

    .progress {
        width: auto;
    }

    .title {
        backdrop-filter: blur(0px);
        position: relative;
        margin-top: 100px;
    }

    .slide-section:nth-child(1) {
        min-height: 80vh !important;
    }

    .logo {
        display: none;
    }
}

@media only screen and (orientation:landscape) and (max-height: 720px) {

    /*landscape phone*/
    ::-webkit-scrollbar {
        width: 20px;
    }

    [class*="fp-"],
    [class*="section"],
    section {
        height: auto !important;
    }

    .main-text {
        transform: translateY(0%);
    }

    .profile-pic {
        transform: translateY(0%);
    }

    .progress {
        width: auto;
    }

    .title {
        backdrop-filter: blur(0px);
        position: relative;
        margin-top: 100px;
    }

    .slide-section:nth-child(1) {
        min-height: 100vh !important;
    }

    .logo {
        display: block;
    }
}

@media only screen and (max-width: 600px) {

    /*so small*/
    .logo {
        display: none;
    }

    section {
        padding: 3%;
    }
}