@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

$timing : 200ms;
$iconColor : #ffd8b4;
$accent : #008f83;
$bluefade : #e07700;
$gradient : #ffd8b4;
$dotBlur : 2px;

@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}

.social-container {
    width: 500px;
    margin: 3vh auto;
    text-align: center;
}

.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;

    li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;

    }

    i {
        color: rgb(255, 255, 255);
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all $timing ease-out;
    }

    a {
        display: inline-block;

        &:before {
            @include transformScale();
            content: " ";
            width: 60px;
            height: 60px;
            border-radius: 40%;
            display: block;
            background: linear-gradient(45deg, $iconColor, $accent);
            transition: all $timing ease-out;
        }

        &:hover:before {
            transform: scale(0);
            transition: all $timing ease-in;
        }

        &:hover i {
            @include transformScale(2.5);
            color: $iconColor;
            background: -webkit-linear-gradient(45deg, $iconColor, $accent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all $timing ease-in;
        }
    }

}

.wrapper {
    position: absolute;
    width: 500px;
    height: 200px;
    top: 60%;
    left: 50%;
    margin: -250px;
    filter: blur(0px);
    font-size: 18px;
    font-family: 'Chewy';
    font-weight: bolder;
    text-transform: uppercase;

    span {
        background: rgb(255, 0, 0);
        // position: absolute;
        border-radius: 48%;
        display: inline-block;
    }

    p {
        position: absolute;
        top: 50%;
        left: 50%;
    }

    p:nth-child(1) {
        filter: blur($dotBlur);
        position: absolute;
        animation: skewing-child .2s ease-in-out infinite alternate;

        span {
            width: 50px;
            height: 50px;
            margin: -25px;
            animation: moving 2s cubic-bezier(.97, .01, .12, .99) infinite alternate;
        }
    }

    p:nth-child(2) {
        filter: blur($dotBlur);
        position: absolute;
        animation: squishing 1s ease-in-out infinite alternate;

        span {
            width: 130px;
            height: 130px;
            top: 50%;
            left: 50%;
            margin: -60px;
            animation: skewing 2s 1.5s ease-in-out infinite;
        }
    }

    p:nth-child(3) {
        filter: blur($dotBlur);
        position: absolute;
        animation: squishing 5s ease-in-out infinite alternate;

        span {
            width: 40px;
            height: 40px;
            top: 50%;
            left: 50%;
            margin: -120px;
            // animation: skewing 2s ease-in-out infinite;
        }
    }

    p:nth-child(4) {
        filter: blur($dotBlur);
        position: absolute;
        animation: squishing 10s ease-in-out infinite alternate;

        span {
            width: 20px;
            height: 20px;
            top: 50%;
            left: 50%;
            margin: -170px;
            // animation: skewing 0.2s ease-in-out infinite;
        }
    }
}

@keyframes skewing {
    0% {
        transform: skewX(6deg);
    }

    10% {
        transform: skewX(-6deg);
    }

    20% {
        transform: skewX(4deg);
    }

    30% {
        transform: skewX(-4deg);
    }

    40% {
        transform: skewX(2deg);
    }

    50% {
        transform: skewX(-6deg);
    }

    55% {
        transform: skewX(6deg);
    }

    60% {
        transform: skewX(-5deg);
    }

    65% {
        transform: skewX(5deg);
    }

    70% {
        transform: skewX(-4deg);
    }

    75% {
        transform: skewX(4deg);
    }

    80% {
        transform: skewX(-3deg);
    }

    85% {
        transform: skewX(3deg);
    }

    90% {
        transform: skewX(-2deg);
    }

    95% {
        transform: skewX(2deg);
    }

    100% {
        transform: skewX(1deg);
    }
}

@keyframes skewing-child {
    0% {
        transform: skewX(-10deg);
    }

    100% {
        transform: skewX(10deg);
    }
}

@keyframes moving {
    0% {
        transform: translate(-200px);
    }

    30% {
        transform: translate(-45px);
    }

    70% {
        transform: translate(45px);
    }

    100% {
        transform: translate(200px);
    }
}

@keyframes squishing {

    10%,
    40%,
    80% {
        transform: scale(1, .9);
    }

    0%,
    30%,
    60%,
    100% {
        transform: scale(.9, 1);
    }
}